body {
  font-size: 14px;
}

// majority font sizes

$font-size-mobile: 14px;
$font-size-mobile-secondary: 12px;

$font-size-tablet: 14px;
$font-size-tablet-secondary: 8px;

$font-size-desktop: 16px;
$font-size-desktop: 14px;

// font colors

$font-color-primary: #FFF;
$font-color-secondary: #000;
$font-color-subtitle: #907E82;
$font-header-before: #FFA5BA;
$font-header: #D41443;

// background colors

$background-color-header: #FFB8CA;
$background-color-products: #E5E5E5;
$background-color-how: #FFF5F6;

// products grid colors

$background-color-icecream: #FFB8CA;
$background-color-icecoffee: #F0D1A5;
$background-color-milkshakes: #C2E297;