body {
  font-size: 14px;
}

// majority font sizes

$font-size-mobile: 14px;
$font-size-mobile-secondary: 12px;

$font-size-tablet: 14px;
$font-size-tablet-secondary: 8px;

$font-size-desktop: 16px;
$font-size-desktop: 14px;

// font colors

$font-white: #FFF;
$font-black: #000;
$font-grey: #907E82;
$font-pink: #FFA5BA;
$font-cherry: #D41443;

// background colors

$background-header: #FFB8CA;
$background-products: #E5E5E5;
$background-how: #FFF5F6;

// products grid colors

$ice-cream-color: #FFB8CA;
$ice-coffee-color: #F0D1A5;
$milkshakes-color: #C2E297;