body {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1040px;
  }
}
.for__robots {
  display: none;
}

.about {
  background-color: #fff5f6;
  padding-bottom: 145px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 26px;
  padding-top: 125px;
}
.heading__secondary {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .heading__secondary {
    font-size: 18px;
    line-height: 0.857;
  }
}
.heading__main {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .heading__main {
    font-size: 34px;
    line-height: 1.147;
  }
}

.about-description {
  min-width: 280px;
}
.about-description__image {
  min-width: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.about-description__image-item {
  height: 100%;
}
.about-description__text {
  padding: 0 50px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  position: relative;
}
@media screen and (max-width: 768px) {
  .about-description__text:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 30vw;
    background-image: url("../images/about-milk1x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 30vh;
    left: calc(50% - 50vw);
    z-index: 1;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .about-description__text:before {
    background-image: url("../images/about-milk2x.png");
  }
}
.about-description__text--main {
  margin-top: 46px;
  margin-bottom: 47px;
  color: #000;
}
.about-description__text--secondary {
  margin-bottom: 47px;
  color: #907e82;
  z-index: 3;
}

.button__vector {
  margin-left: 13.62px;
  stroke: #d41443;
  fill: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.about-achievements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 39px;
  padding-left: 50px;
  margin-top: 39px;
}
.about-achievements__items {
  max-width: 230px;
}
.about-achievements__items:not(:last-child) {
  margin-bottom: 38px;
}
.about-achievements__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-achievements__icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
}
.about-achievements__numbers {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  text-align: left;
  font-size: 36px;
  line-height: 0.878;
  height: 56px;
}
.about-achievements__description {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000;
}

@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 140px;
  }
  .heading {
    margin-bottom: 50px;
    padding-top: 130px;
  }
  .heading__secondary {
    font-size: 26px;
    line-height: 0.866;
  }
  .heading__main {
    font-size: 54px;
    line-height: 1.145;
  }
  .about-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
  }
  .about-description__image {
    align-self: flex-start;
    width: 340px;
    height: 339px;
  }
  .about-description__text {
    padding-left: 17px;
    padding-right: 0px;
    width: 340px;
    font-size: 14px;
    line-height: 1.76;
  }
  .about-description__text--main {
    margin-bottom: 49px;
  }
  .about-description__text--secondary {
    margin-bottom: 62px;
  }
  .about-achievements__list {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 60px;
  }
  .about-achievements__items {
    width: 180px;
  }
  .about-achievements__icon {
    margin-bottom: 36px;
  }
  .about-achievements__numbers {
    font-size: 48px;
    line-height: 1.145;
  }
  .about-achievements__description {
    margin-top: 13px;
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .heading__secondary {
    font-size: 30px;
    line-height: 0.882;
  }
  .heading__main {
    font-size: 58px;
    line-height: 0.878;
  }
  .about-description:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 41.5625vw;
    background-image: url("../images/about-milk2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 15%;
    left: calc(50% - 50vw);
    z-index: 1;
  }
  .about-description {
    position: relative;
  }
  .about-description__image {
    width: 516px;
    height: 516px;
  }
  .about-description__text {
    margin-left: 74px;
    width: 463px;
    z-index: 2;
  }
  .flex-center {
    justify-content: flex-start;
  }
  .about-achievements {
    gap: 30px;
  }
  .about-achievements__items {
    width: 330px;
  }
  .about-achievements__numbers {
    font-size: 58px;
  }
}
.button {
  border-radius: 22px;
  width: 176px;
  height: 44px;
  cursor: pointer;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 0.78;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
}
.button--bright {
  background: #fff;
  color: #d41443;
  fill: #d41443;
}
.button--bright:hover, .button--bright:target {
  background: #ecebeb;
}
.button--color {
  background: #d41342;
  color: #fff;
}
.button__contacts {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .button__contacts {
    font-size: 16px;
  }
}
.products__button {
  background-color: #ffffff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #d7214d;
}
.products__title {
  text-align: center;
}
.products__secondheader {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
.products__header {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 15px;
}
.products__item {
  position: relative;
  width: 280px;
  height: 485px;
  border-radius: 24px;
  margin-bottom: 130px;
}
.products__item--icecream {
  background-color: #ffb8ca;
}
.products__item--icecoffe {
  background-color: #f0d1a5;
}
.products__item--milkshakes {
  background-color: #c2e297;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__title {
    margin-top: 144px;
  }
  .products__secondheader {
    font-size: 18px;
    line-height: 0.857;
  }
  .products__header {
    font-size: 34px;
    line-height: 1.147;
    margin-bottom: 144px;
  }
  .products__list {
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .products__name {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 155px;
  }
  .products__name::after {
    content: ". . .";
    font-weight: 700;
    font-size: 20px;
    display: block;
    margin: 30px 0px;
  }
  .products__decription {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-left: 41px;
    margin-right: 39px;
  }
  .products__button {
    margin-top: 30px;
    cursor: pointer;
  }
  .products__item--icecream::before {
    content: url(../images/products-icecram-mobile.png);
    display: block;
    position: absolute;
    top: -112px;
    left: 15px;
    right: 15px;
  }
  .products__item--icecoffe::before {
    content: url(../images/products-icecoffe-mobile.png);
    display: block;
    position: absolute;
    top: -112px;
    left: 15px;
    right: 15px;
  }
  .products__item--milkshakes::before {
    content: url(../images/products-milkshake-mobile.png);
    display: block;
    position: absolute;
    top: -112px;
    left: 15px;
    right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item {
    width: 220px;
  }
  .products__title {
    margin-top: 122px;
  }
  .products__secondheader {
    font-size: 26px;
    line-height: 0.866;
  }
  .products__header {
    font-size: 54px;
    line-height: 1.145;
    margin-bottom: 150px;
  }
  .products__list {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .products__name {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 155px;
  }
  .products__name::after {
    content: ". . .";
    font-weight: 700;
    font-size: 20px;
    display: block;
    margin: 30px 0px;
  }
  .products__decription {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 0px 11px;
    width: 198px;
    height: 124px;
    overflow: hidden;
  }
  .products__button {
    margin-top: 30px;
    cursor: pointer;
  }
  .products__item--icecream::before {
    content: url(../images/products-icecram-tablet.png);
    display: block;
    position: absolute;
    top: -100px;
    left: 5px;
    right: 5px;
  }
  .products__item--icecoffe::before {
    content: url(../images/products-icecoffe-tablet.png);
    display: block;
    position: absolute;
    top: -100px;
    left: 5px;
    right: 5px;
  }
  .products__item--milkshakes::before {
    content: url(../images/products-milkshake-tablet.png);
    display: block;
    position: absolute;
    top: -100px;
    left: 5px;
    right: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: 330px;
    height: 525px;
  }
  .products__title {
    margin-top: 127px;
  }
  .products__secondheader {
    font-size: 30px;
    line-height: 0.882;
  }
  .products__header {
    font-size: 58px;
    line-height: 0.878;
    margin-bottom: 259px;
  }
  .products__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .products__name {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 163px;
  }
  .products__name::after {
    content: ". . .";
    font-weight: 700;
    font-size: 20px;
    display: block;
    margin: 30px 0px;
  }
  .products__decription {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 0px 44px;
    width: 241px;
    height: 106px;
    overflow: hidden;
  }
  .products__button {
    margin-top: 62px;
    cursor: pointer;
  }
  .products__item--icecream::before {
    content: url(../images/products-icecram-desktop.png);
    display: block;
    position: absolute;
    top: -200px;
    left: 3px;
    right: 3px;
  }
  .products__item--icecoffe::before {
    content: url(../images/products-icecoffe-desktop.png);
    display: block;
    position: absolute;
    top: -200px;
    left: 3px;
    right: 3px;
  }
  .products__item--milkshakes::before {
    content: url(../images/products-milkshake-desktop.png);
    display: block;
    position: absolute;
    top: -200px;
    left: 3px;
    right: 3px;
  }
}
.gallery {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #fff5f6 40%, white 40%);
}

.gallery img {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 430px;
}

.footer {
  background: rgba(255, 245, 246, 0.6980392157);
}
.footer__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer__header__secondary {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 17px;
  width: 232px;
  color: #ffa5ba;
}
.footer__header__primary {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 200px;
  color: #d41443;
}
.footer__icon {
  background-color: #ffa5ba;
  fill: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.footer__list {
  display: flex;
  margin-top: 43px;
  justify-content: flex-end;
  gap: 29px;
  margin-bottom: 46px;
}
.footer__contact {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 43px;
}
.footer__contact__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: black;
}
.footer__contact__tel {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: #d41443;
}
.footer__copyright {
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}
.footer__copytext {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907e82;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .footer__header {
    width: 380px;
  }
  .footer__header__secondary {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
  }
  .footer__header__primary {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
  }
  .footer__tablet {
    display: flex;
    flex-direction: column;
  }
  .footer__list {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .footer__copytext {
    width: 100%;
  }
  .footer__contact__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__header {
    width: 500px;
  }
  .footer__header__primary {
    width: 100%;
  }
  .footer__copytext {
    width: 100%;
  }
  .footer__contact__text {
    font-size: 16px;
  }
}
.contacts {
  padding-top: 86px;
  padding-bottom: 113px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.445) 15%, rgba(255, 245, 246, 0.6980392157) 15%), url("../images/sectionbg2-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.contacts__card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 43px 20px 43px 20px;
}
.contacts__card:last-child {
  margin-bottom: 54px;
}
.contacts__category {
  display: inline-block;
  background-color: #f0d1a5;
  padding: 0px 20px 0px 20px;
  margin-bottom: 25px;
  border-radius: 5px;
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}
.contacts__category--foodtruck {
  background-color: #c2e297;
}
.contacts__list {
  display: flex;
  flex-wrap: wrap;
}
.contacts__city {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: black;
  padding-bottom: 10px;
}
.contacts__desc {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
  padding-bottom: 25px;
  border-bottom: #e1e1e1 solid 1px;
  margin-bottom: 25px;
}
.contacts__days {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}
.contacts__hours {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
  margin-bottom: 10px;
}
.contacts__hours--bottom {
  padding-bottom: 25px;
  border-bottom: #e1e1e1 solid 1px;
  margin-bottom: 25px;
}
.contacts__address {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}
.contacts__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 0px;
    padding-bottom: 165px;
  }
  .contacts__list {
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    margin-bottom: 81px;
  }
  .contacts__card {
    margin-bottom: 0;
  }
  .contacts__card:last-child {
    margin-bottom: 0;
  }
  .contacts__buttons {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 15px;
  }
  .contacts__category {
    font-size: 16px;
  }
  .contacts__city {
    font-size: 14px;
  }
  .contacts__desc {
    font-size: 14px;
  }
  .contacts__days {
    font-size: 14px;
  }
  .contacts__horus {
    font-size: 14px;
  }
  .contacts__address {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__card {
    width: 330px;
    padding: 51px 43px 62px 43px;
  }
  .contacts__category {
    letter-spacing: 0.04em;
  }
  .contacts__city {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  .contacts__desc {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  .contacts__days {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  .contacts__hours {
    font-size: 16px;
  }
  .contacts__address {
    font-size: 16px;
  }
}
.header {
  background-color: #ffb8ca;
  padding: 6px 20px 0 20px;
  height: 502px;
  overflow: hidden;
  min-width: 320px;
}
.header__wrap {
  position: relative;
  margin: 0 auto;
  min-width: 280px;
  max-width: 280px;
}
.header__icon {
  display: none;
}
.header__container {
  display: none;
}
.header__primary--image {
  position: absolute;
  z-index: 2;
  top: 86px;
  left: 111px;
  height: 410px;
  width: 171px;
}
.header__secondary--image {
  display: none;
}
.header__tertiary--image {
  display: none;
}

.box {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
}
.menu__logo {
  width: 199px;
  height: 50px;
}
.menu__list {
  display: none;
}
.menu__button {
  display: none;
}
.menu__button:hover {
  background-color: #ecebeb;
  cursor: pointer;
}
.menu__box {
  height: 44px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.menu__icon {
  position: relative;
  z-index: 3;
  stroke: #d41443;
  fill: none;
}
.menu__mobile {
  background-color: transparent;
  border-color: transparent;
}
.menu__mobile:hover {
  cursor: pointer;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 137px 0 141px 0;
  max-width: 218px;
  gap: 19px;
  line-height: 35px;
}
.block__header {
  margin: 0;
  z-index: 3;
  top: 0;
  line-height: 1;
}
.block__header-lower {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  font-size: 30px;
  color: #fff;
}
.block__header-higher {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  font-size: 48px;
}
.block__box {
  display: flex;
  gap: 8px;
  z-index: 3;
}
.block__button-first, .block__button-second {
  height: 24px;
  font-family: "DM Sans";
  font-size: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
}
.block__button-first {
  background-color: #d41443;
  color: #fff;
  width: 62px;
}
.block__button-first:hover {
  background-color: #c7133e;
  cursor: pointer;
}
.block__button-second {
  background-color: #fff;
  color: #d41443;
  width: 86px;
}
.block__button-second:hover {
  background-color: #ecebeb;
  cursor: pointer;
}

.circle {
  width: 345px;
  height: 345px;
  background-color: #ffa5ba;
  position: absolute;
  border-radius: 50%;
  top: 77px;
  left: 16px;
}

.icon--circle {
  display: none;
}

.icon--arrow {
  display: none;
}

.backdrop {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  transition: ease-in-out 500ms;
  z-index: 6;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffb8ca;
  margin: auto;
  padding: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}
.modal__button {
  display: block;
  width: 160px;
  height: 44px;
  background-color: #fff;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  position: relative;
  top: 10px;
  right: -360px;
}
.modal__button:hover {
  cursor: pointer;
  background-color: #ecebeb;
}
.modal__header {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  line-height: 1.3;
}
.modal__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  line-height: 1.3;
}
.modal__input {
  width: 320px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 13px;
  color: #d41443;
  line-height: 1.3;
}
.modal__textarea {
  width: 320px;
  height: 150px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 13px;
  color: #d41443;
  line-height: 1.3;
}
.modal__acceptance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
}
.modal__acceptance-label {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
.modal__acceptance-input {
  margin-right: 5px;
}
.modal__link {
  color: #d41443;
}
.modal__submit {
  width: 160px;
  height: 44px;
  background-color: #d41443;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.modal__submit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #d41443;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 23px;
  right: 28px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-icon {
  stroke: #fff;
  fill: none;
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}
.mobile__button {
  margin-top: 60px;
  display: flex;
  gap: 16px;
  width: 209px;
  height: 44px;
  background-color: #fff;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
}
.mobile__button:hover {
  background-color: #ecebeb;
  cursor: pointer;
}
.mobile__arrow {
  stroke: #d41443;
  fill: none;
  position: relative;
  top: 2px;
}
.mobile__menu {
  width: 100%;
}
.mobile__list {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.mobile__item {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  border: solid 1px #e18298;
  padding: 13px 0 11px 21px;
  height: 42px;
}
.mobile__item:first-child {
  color: #d41443;
}
.mobile__item:hover {
  cursor: pointer;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .menu {
    align-items: flex-start;
  }
  .menu__button {
    display: flex;
    justify-content: space-between;
    padding: 0 37px 0 37px;
    width: 160px;
    height: 44px;
    background-color: #fff;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #d41443;
  }
  .menu__arrow {
    position: relative;
    top: 2px;
    fill: #d41443;
  }
  .block {
    margin: 15px 0 46px 0;
    max-width: 162px;
  }
  .block__header-lower {
    font-size: 22px;
    line-height: 1.14;
  }
  .block__header-higher {
    font-size: 34px;
    line-height: 1.14;
  }
  .circle {
    width: 323px;
    height: 323px;
    top: -6px;
    left: 273px;
  }
  .header {
    height: 399px;
    padding: 37px 34px 0 34px;
  }
  .header__wrap {
    position: relative;
    margin: 0 auto;
    min-width: 700px;
    max-width: 700px;
  }
  .header__primary--image {
    top: 26px;
    left: 344px;
    height: 336px;
    width: 143px;
  }
  .header__secondary--image {
    display: block;
    width: 124px;
    height: 126px;
    position: absolute;
    top: 208px;
    left: 0;
  }
  .header__tertiary--image {
    display: block;
    width: 168px;
    height: 133px;
    position: absolute;
    top: 229px;
    left: 532px;
    z-index: 4;
  }
  .header__container {
    display: block;
    max-width: 114px;
    max-height: 48px;
    margin-left: 120px;
  }
  .header__paragraph {
    font-style: "DM Sans";
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.06em;
    text-align: left;
  }
  .header__icon {
    display: block;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 120px;
    top: 310px;
  }
  .box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 44px;
    left: 657px;
    text-align: right;
  }
  .box__amount {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    color: #d41443;
    z-index: 4;
  }
  .box__description {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 8px;
    line-height: 1;
    color: #fff;
  }
  .box__icon {
    height: 16px;
    width: 16px;
    display: block;
    position: relative;
    fill: #fff;
    top: 10px;
    left: 30px;
    z-index: -1;
  }
  .icon--circle {
    display: block;
    fill: #fff;
    margin-left: 120px;
    margin-top: 7px;
    height: 18px;
    width: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 665px;
    min-width: 1280px;
  }
  .header__wrap {
    position: relative;
    padding-right: 115px;
    padding-left: 46px;
    height: 502px;
    min-width: 1280px;
    max-width: 1280px;
  }
  .header__primary--image {
    top: 71px;
    left: 594px;
    height: 557px;
    width: 236px;
  }
  .header__secondary--image {
    width: 188px;
    height: 191px;
    top: 392px;
    left: 77px;
  }
  .header__tertiary--image {
    width: 293px;
    height: 232px;
    top: 396px;
    left: 878px;
  }
  .header__container {
    max-width: 200px;
    max-height: 78px;
    margin-left: 249px;
  }
  .header__paragraph {
    font-size: 14px;
    line-height: 1.4;
  }
  .header__icon {
    height: 26px;
    width: 26px;
    top: 546px;
    left: 295px;
  }
  .menu {
    align-items: center;
  }
  .menu__mobile {
    display: none;
  }
  .menu__navigation {
    display: flex;
    align-items: center;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    z-index: 2;
  }
  .menu__item {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
  }
  .menu__item:first-child {
    color: #d41443;
  }
  .menu__item:hover {
    cursor: pointer;
    color: #d41443;
  }
  .circle {
    width: 538px;
    height: 538px;
    top: 15px;
    left: 475px;
  }
  .box {
    top: 93px;
    left: 1111px;
  }
  .box__amount {
    font-size: 46px;
    line-height: 1.1;
  }
  .box__description {
    font-size: 14px;
    line-height: 1.1;
  }
  .box__icon {
    height: 30px;
    width: 30px;
    top: 24px;
    left: 55px;
  }
  .block {
    margin: 84px 0 100px 69px;
    max-width: 277px;
    gap: 25px;
  }
  .block__box {
    gap: 15px;
  }
  .block__header-lower {
    font-size: 38px;
  }
  .block__header-higher {
    font-size: 58px;
  }
  .block__button-first, .block__button-second {
    height: 40px;
    font-size: 14px;
  }
  .block__button-first {
    width: 104px;
  }
  .block__button-second {
    width: 138px;
  }
  .icon--circle {
    margin-left: 249px;
    width: 26px;
    height: 26px;
  }
}
.review {
  display: block;
  margin: 0 20px;
}
.review__image {
  margin: 0 auto;
  display: block;
  margin-top: 80px;
  margin-bottom: 15px;
  width: 85px;
  height: 85px;
}
.review__box {
  position: relative;
  height: 308px;
  margin-bottom: 30px;
}
.review__text--linear {
  background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 30px, #e1e1e1 31px);
  position: absolute;
  z-index: -2;
}
.review__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  margin: 43px 66px 26px 66px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.review__text:before {
  content: "";
  background-image: url("../images/svg.svg");
  width: 54px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: 0px;
  z-index: -1;
}
.review__background {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
}
.review__dots {
  display: flex;
  justify-content: center;
  max-height: 30px;
}
.review__data {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}
.review__home {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.review__svg {
  max-width: 18px;
}

@media screen and (min-width: 768px) {
  .review__box {
    height: 164px;
  }
  .review__text {
    font-size: 14px;
    letter-spacing: 0.08em;
  }
  .review__data {
    font-size: 14px;
  }
  .review__text--linear {
    background: repeating-linear-gradient(#fafafa, #fafafa 31px, #e1e1e1 32px, #e1e1e1 33px);
  }
}
@media screen and (min-width: 1200px) {
  .review__box {
    height: 138px;
  }
  .review__text {
    font-size: 16px;
    margin: 37px 80px 34px 80px;
    letter-spacing: 0.08em;
  }
  .review__text:before {
    top: -10px;
    left: -30px;
  }
  .review__data {
    font-size: 16px;
  }
  .review__text--linear {
    background: repeating-linear-gradient(#fafafa, #fafafa 34px, #e1e1e1 35px, #e1e1e1 36px);
  }
}/*# sourceMappingURL=main.css.map */