// Mniejszy nagłówek, obecnie koloru jasno-różowego
@mixin secondaryHeading {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $font-header;
}

// Większy nagłówek, obecnie koloru ciemnoróżowego
@mixin mainHeading {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: $font-header-before;
}

// Rozmiary headingów dla mobile
@mixin secondaryHeading-mobile {
  font-size: 18px;
  line-height: 0.857;
}
@mixin mainHeading-mobile {
  font-size: 34px;
  line-height: 1.147;
}
@mixin articleText-mobile {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}
@mixin review-data{
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0em;
  text-align: center;
}

// Rozmiary fontów dla tablets
@mixin secondaryHeading-tablet {
  font-size: $font-size-tablet-heading-secondary;
  line-height: 0.866;
}
@mixin mainHeading-tablet {
  font-size: $font-size-tablet-heading-main;
  line-height: 1.145;
}
@mixin articleText-tablet {
  font-size: $font-size-main;
  line-height: 1.76;
}
@mixin numbersAchievements-tablet {
  font-size: $font-size-tablet-numbers;
  line-height: 1.145;
}
@mixin descriptionAchievements-tablet {
  font-size: $font-size-main;
  line-height: 1.74;
}

// Rozmiary na desktop

@mixin secondaryHeading-desktop {
  font-size: $font-size-desktop-heading-secondary;
  line-height: 0.882;
}
@mixin mainHeading-desktop {
  font-size: $font-size-desktop-heading-main;
  line-height: 0.878;
}
@mixin articleText-desktop {
  font-size: $font-size-main;
  line-height: 1.76;
}
@mixin descriptionAchievements-desktop {
  font-size: $font-size-desktop-achievements;
  line-height: 1.76;
}

// mixin nadający elemetowi wycentrowanie
@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
