body {
  font-size: 14px;
}

// majority font sizes

$font-size-mobile: 14px;
$font-size-mobile-secondary: 12px;

$font-size-tablet: 14px;
$font-size-tablet-secondary: 8px;

$font-size-desktop: 16px;
$font-size-desktop: 14px;

// main colors

$color-primary: #fff;
$color-secondary: #000;

// font colors

$font-color-subtitle: #907e82;
$font-header-before: #ffa5ba;
$font-header: #d41443;

// background colors

$background-color-header: #ffb8ca;
$background-color-products: #e5e5e5;
$background-color-how: #fff5f6;
$background-color-button: #d41342;
$boder-mobile: #e18298;

// products grid colors

$background-color-icecream: #ffb8ca;
$background-color-icecoffee: #f0d1a5;
$background-color-milkshakes: #c2e297;

// underlines/quotes, dots, circles

$underline: #e1e1e1;
$circles-bright-background: #d9d9d9;
$dot: #c7133e;
