<h1 class="for__robots">About</h1>

<section class="section about" id="About">
  <div class="container">
    <div class="heading">
      <p class="heading__secondary">Tradition and love</p>
      <h1 class="heading__main">How it’s made?</h1>
    </div>
    <div class="about-description">
      <div class="about-description__image">
        <img
          class="about-description__image-item"
          src="./images/about-cow1x.png"
          width="280"
          height="279"
          alt="Picture of cow and milk, showing that we're eco and bio friendly"
          srcset="./images/about-cow1x.png 1x, ./images/about-cow2x.png 2x"
        />
      </div>
      <div class="about-description__text">
        <p class="about-description__text--main">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-description__text--secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br /><br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <div class="flex-center">
          <button class="button button--bright">
            Read more
            <svg width="4.43" height="8" class="button__vector">
              <use href="./images/svg/symbol-defs.svg#icon-buttonVector"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <h1 class="for__robots">Advantages</h1>

    <div class="about-achievements">
      <ul class="about-achievements__list">
        <li class="about-achievements__items">
          <ul>
            <li class="about-achievements__icon">
              <img
                class="about-img"
                src="./images/about-icon1@1x.png"
                width="33"
                height="50"
                alt="Icon presenting an
              udders and a bucket"
                srcset="./images/about-icon1@1x.png 1x, ./images/about-icon1@2x.png 2x, ./images/about-icon1@2x.png 768w"
              />
            </li>
            <li><p class="about-achievements__numbers">721</p></li>
            <li>
              <p class="about-achievements__description">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
              </p>
            </li>
          </ul>
        </li>
        <li class="about-achievements__items">
          <ul>
            <li class="about-achievements__icon">
              <img
                class="about-img"
                src="./images/about-icon2@1x.png"
                width="50"
                height="50"
                alt="Icon presenting a
              bucket full of apples"
                srcset="./images/about-icon2@1x.png x1,
              ./images/about-icon2@2x.png x2"
              />
            </li>
            <li><p class="about-achievements__numbers">16KG</p></li>
            <li>
              <p class="about-achievements__description">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
              </p>
            </li>
          </ul>
        </li>
        <li class="about-achievements__items">
          <ul>
            <li class="about-achievements__icon">
              <img
                class="about-img"
                src="./images/about-icon3@1x.png"
                width="44"
                height="50"
                alt="Icon presenting a
              lollipop in shape of heart"
                srcset="./images/about-icon3@1x.png 1x, ./images/about-icon3@2x.png 2x"
              />
            </li>
            <li><p class="about-achievements__numbers">84</p></li>
            <li>
              <p class="about-achievements__description">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
