<section class="section">
  <div class="container about">
    <div class="heading">
      <h2 class="heading__secondary">Tradition and love</h2>
      <h1 class="heading__main">How it’s made?</h1>
    </div>
    <div class="about-description">
      <div class="about-description__image"></div>
      <div class="about-description__text">
        <button></button>
      </div>
    </div>
    <div class="aboutachievements">
      <ul class="about-achievements__list">
        <li class="about-achievements__item">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>
        <li class="about-achievements__item">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>
        <li class="about-achievements__item">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
