<section class="contacts" id="Contacts">
  <div class="container">
    <div class="contacts__list">
      <ul class="contacts__card">
        <li>
          <span class="contacts__category">CAFE</span>
          <h4 class="contacts__city">Chicago</h4>
          <div class="contacts__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        </li>
        <li class="contacts__days">Monday - Friday</li>
        <li class="contacts__hours">06:00 AM - 10:00 PM</li>
        <li class="contacts__days">Saturday - Sunday</li>
        <li class="contacts__hours contacts__hours--bottom">08:00 AM - 16:00 PM</li>
        <a href="tel: +61(0) 383 766 284" class="contacts__address">+61(0) 383 766 284</a>
        <a href="mailto: noreply@envato.com" class="contacts__address">noreply@envato.com</a>
      </ul>
      <ul class="contacts__card">
        <li>
          <span class="contacts__category contacts__category--foodtruck">FOODTRUCK</span>
          <h4 class="contacts__city">Los Angeles</h4>
          <div class="contacts__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        </li>
        <li class="contacts__days">Monday - Friday</li>
        <li class="contacts__hours">06:00 AM - 10:00 PM</li>
        <li class="contacts__days">Saturday - Sunday</li>
        <li class="contacts__hours contacts__hours--bottom">08:00 AM - 16:00 PM</li>
        <a href="tel: +61(0) 383 766 284" class="contacts__address">+61(0) 383 766 284</a>
        <a href="mailto: noreply@envato.com" class="contacts__address">noreply@envato.com</a>
      </ul>
      <ul class="contacts__card">
        <li>
          <span class="contacts__category">CAFE</span>
          <h4 class="contacts__city">New York</h4>
          <div class="contacts__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        </li>
        <li class="contacts__days">Monday - Friday</li>
        <li class="contacts__hours">06:00 AM - 10:00 PM</li>
        <li class="contacts__days">Saturday - Sunday</li>
        <li class="contacts__hours contacts__hours--bottom">08:00 AM - 16:00 PM</li>
        <a href="tel: +61(0) 383 766 284" class="contacts__address">+61(0) 383 766 284</a>
        <a href="mailto: noreply@envato.com" class="contacts__address">noreply@envato.com</a>
      </ul>
    </div>
    <div class="contacts__buttons">
      <button type="button" class="button button__contacts button--color">Our Locations ></button>
      <button type="button" class="button button__contacts button--bright">Franchise ></button>
    </div>
  </div>
</section>
