<section class="contacts">
  <div class="container">
    <div class="contacts_list">
      <ul class="contacts__card">
        <li>
          <span class="contacts__category">CAFE</span>
          <h4>Chicago</h4>
          <div>Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        </li>
        <li></li>
        <li></li>
      </ul>
      <ul class="contacts__card">
        <li>
          <span class="contacts__category contacts__category--foodtruck">FOODTRUCK</span>
          <h4>Los Angeles</h4>
          <div>Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        </li>
        <li></li>
        <li></li>
      </ul>
      <ul class="contacts__card">
        <li>
          <span class="contacts__category">CAFE</span>
          <h4>New York</h4>
          <div>Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        </li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</section>
