<section class="container">
    <div class="review">
        <div class="review__image">
        <img
            src="./images/customer-review-icon@1x.jpg"
            width="85px"
            height="85px"
            alt="portrait of a black smiling woman"
            srcset="./images/customer-review-icon@2x.jpg x2, ./images/customer-review-icon@1x.jpg x1"/></div>
             <div class="review__box">
            <div class="review__background">
            <div class="review__text">
            <p> Nullam vivera consectetur. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        </div>
        </div> 
        <div class="review__boxsecond">
        <div class="review__dots">
            <svg>
                <use href="./images/svg/symbol-defs.svg#icon-review-dots"
                height="4px">
                </use>
            </svg>
        </div>
        <div class="review__data">
            <p>Emily, Los Angeles</p>
        </div>
    <div class="review__home">
        <svg class="review__svg"><use href="./images/svg/symbol-defs.svg#icon-review-house" width="12.4px" height="11.84px"></use></svg>
        <svg class="review__svg"><use href="./images/svg/symbol-defs.svg#icon-review-circle"width="12px" height="12px"></use></svg>
        <svg class="review__svg"><use href="./images/svg/symbol-defs.svg#icon-review-circle"width="12px" height="12px"></use></svg>
    </div>
    </div>
    </div>
</section>