<section class="container">
    <div class="review">
        <div class="review__image">
        <img
            src="../images/customer-review-icon@1x.jpg"
            width="85"
            height="85"
            alt="portrait of a black smiling woman"
            srcset="../images/customer-review-icon@2x.jpg x2, ../images/customer-review-icon@1x.jpg x1"/></div>
        <div class="review__background">
            <div class="review__svg">
            <div class="review__text">
            <p> Nullam vivera consectetur. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        </div>
        </div>
        <div class="review__dots"></div>
        <div class="review__data">
            <p>Emily, Los Angeles</p>
        </div>
        <div class="review__home"></div>
    </div>
</section>