<footer class="footer">
  <div class="container footer__container">
    <div class="footer__header">
      <h2 class="footer__header__secondary">homemade ice cream made</h2>
      <h3 class="footer__header__primary">with passion</h3>
    </div>
    <div class="footer__icons">
      <ul class="footer__list">
        <li>
          <a href="#">
            <svg class="footer__icon">
              <use
                xlink:href="./images/svg/footericon.svg#icon-github"
                width="20"
                height="20"
                x="7"
                y="7"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="footer__icon">
              <use
                xlink:href="./images/svg/footericon.svg#icon-icon-send"
                width="20"
                height="20"
                x="5"
                y="7"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="footer__icon">
              <use
                xlink:href="./images/svg/footericon.svg#icon-facebook"
                width="20"
                height="20"
                x="7"
                y="7"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__contact">
      <p class="footer__contact__text">
        Feel free to contact
        <a class="footer__contact__tel" href="tel:+61383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="footer__copyright">
    <h6 class="footer__copytext">© 2019 - IceCream. All Rights Reserved.</h6>
  </div>
</footer>
