<footer class="footer">
  <div class="footer__container">
    <h2 class="footer__tittle">homemade ice cream made</h2>
    <h3 class="footer__text">with passion</h3>
  </div>
  <div class="footer__container footer__iconss">
    <ul class="footer__icons">
      <li>
        <a href="#">
          <svg class="footer__icon">
            <use
              xlink:href="./images/svg/footericon.svg#icon-github"
              width="20"
              height="20"
              x="7"
              y="7"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="footer__icon">
            <use
              xlink:href="./images/svg/footericon.svg#icon-icon-send"
              width="20"
              height="20"
              x="5"
              y="7"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="footer__icon">
            <use
              xlink:href="./images/svg/footericon.svg#icon-facebook"
              width="20"
              height="20"
              x="7"
              y="7"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__contact">
      Feel free to contact
      <a href="tel:+61383766284" class="footer__contact--color">+61 (0) 383 766 284</a>
    </p>
  </div>
  <div class="footer__container">
    <div class="footer__line"></div>
    <h6 class="footer__ending">© 2019 - IceCream. All Rights Reserved.</h6>
  </div>
</footer>
