<footer>
    <div class="container footer">
        <div class="footer__container">
      <p class="footer__tittle">homemade ice cream made</p>
     <h1 class="footer__text">with passion</h1>
    </div>
    </div>
    <div class="container footer">
        <div class="footer__container">
            <ul class="footer__icons">
                <li>
                  <a href="#">
                  <svg class="footer__icon">
                    <use
                      xlink:href="./images/svg/footericon.svg#icon-github"
                      width="20"
                      height="20"
                      x="12"
                      y="12"
                    ></use>
                  </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                  <svg class="footer__icon">
                    <use
                      xlink:href="./images/svg/footericon.svg#icon-telegram"
                      width="20"
                      height="20"
                      x="12"
                      y="12"
                    ></use>
                  </svg>
                </a>
                </li>
                <li>
                  <a href="#">
                  <svg class="footer__icon">
                    <use
                      xlink:href="./images/svg/footericon.svg#icon-facebook"
                      width="20"
                      height="20"
                      x="12"
                      y="12"
                    ></use>
                  </svg>
                </a>
                </li>
              </ul>      
      <span class="footer__contact">Feel free to contact</span>
      <a href=tel:+61383766284 class="footer__contact-color">+61 (0) 383 766 284</a>
        </div>
    </div>
    <div class="container footer">
      <div class="footer__container">
   <h6 class="footer__ending">© 2019 - IceCream. All Rights Reserved. </h6>
  </div>
  </div>
  </footer>