<header class="header">
    <div class="menu">
        <img class="menu__logo" src="./images/logo.png" alt="Logo"
        width="199px" height="50px">
        <nav class="menu__navigation">
            <ul class="menu__list">
                <li class="menu__item">Home</li>
                <li class="menu__item">About us</li>
                <li class="menu__item">How it's made?</li>
                <li class="menu__item">Our products</li>
                <li class="menu__item">Contact</li>
            </ul>
        </nav>
        <button class="menu__button button" type="button">Buy now</button>
    </div>
    <div class="circle">
    </div>
    <div class="block">
        <h1 class="block__header">
            <span class="block__header-lower">ICE CREAM</span> <span class="block__header-lower">MADE WITH</span><span class="block__header-higher"> PASSION</span>
        </h1>
        <div class="block__box">
            <button class="block__button-first button">Products</button>
            <button class="block__button-second button">How it's made?</button>
        </div>
    </div>
    <div class="box">
        <p class="box__amount">16</p>
        <p class="box__description">cafes</p>
        <p class="box__amount">23</p>
        <p class="box__description">food trucks</p>
    </div>
    <div class="header__container">
        <p class="header__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
    <img class="header__image" src="./images/ice-cream.png">
    <img>
    <img>
    <!-- <button class="header__mobile js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="header__mobile-menu" width="24px" height="24px">
            <use href="./images/svg/burger.svg"></use>
        </svg>
    </button> -->
</header>