<header class="header">
  <div class="menu">
    <img class="menu__logo" src="./images/logo.png" alt="Logo" width="199px" height="50px" />
    <nav class="menu__navigation">
      <ul class="menu__list">
        <li class="menu__item">Home</li>
        <li class="menu__item">About us</li>
        <li class="menu__item">How it's made?</li>
        <li class="menu__item">Our products</li>
        <li class="menu__item">Contact</li>
      </ul>
    </nav>
    <button class="menu__button button" type="button" data-modal-open>Buy now</button>
  </div>
  <div class="circle"></div>
  <div class="block">
    <h1 class="block__header">
      <span class="block__header-lower">ICE CREAM</span>
      <span class="block__header-lower"> MADE WITH</span>
      <span class="block__header-higher"> PASSION</span>
    </h1>
    <div class="block__box">
      <button class="block__button-first button">Products</button>
      <button class="block__button-second button">How it's made?</button>
    </div>
  </div>
  <div class="box">
    <p class="box__amount">
      <svg class="box__icon">
        <use href="./images/svg/symbol-defs.svg#icon-review-circle"></use>
      </svg>
      16
    </p>
    <p class="box__description">cafes</p>
    <p class="box__amount">
      <svg class="box__icon">
        <use href="./images/svg/symbol-defs.svg#icon-review-circle"></use>
      </svg>
      23
    </p>
    <p class="box__description">food trucks</p>
  </div>
  <div class="header__container">
    <p class="header__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
  </div>
  <svg class="icon--circle">
    <use href="./images/svg/symbol-defs.svg#icon-review-circle"></use>
  </svg>
  <img class="header__primary--image" src="./images/ice-cream.png" />
  <img class="header__secondary--image" src="./images/milk.png" />
  <img class="header__tertiary--image" src="./images/lady.png" />
</header>
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__button button" data-modal-close>Close</button>
        <form action="javascript:void(0);">
          <div class="modal__container">
          <h2 class="modal__header">Zostaw swoje dane w formularzu poniżej</h2>
            <label class="modal__label" for="full-name">Imię
              <input id="full-name" class="modal__input" type="name" name="name">
            </label>
            <label class="modal__label" for="telephone">Telefon
              <input id="telephone" class="modal__input" type="tel" name="tel">
            </label>
            <label class="modal__label" for="email-address">Email
              <input id="email-address" class="modal__input" type="email" name="email">
            </label>
            <label class="modal__label">Komentarz
              <textarea class="modal__textarea" name="commentary" rows="6" placeholder="Wprowadź tekst"></textarea>
            </label>
            <div class="modal__acceptance-container">
              <label class="modal__acceptance-label">
                <input class="modal__acceptance-input" type="checkbox" name="checkbox">Oświadczam iż akceptuję <a class="modal__link" href="#">Regulamin</a> i <a
                  class="modal__link" href="#">Politykę Prywatności</a></label>
              <button class="modal__submit button" type="submit">Wyślij</button>
            </div>
            </div>
        </form>
    </div>
</div>
