<h1 class="for__robots">Header</h1>
<header class="header" id="Home">
  <div class="header__wrap">
    <div class="menu">
      <img class="menu__logo" src="./images/logo.png" alt="Logo" width="199" height="50" />
      <nav class="menu__navigation">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#Home">Home</a>
          </li>
          <li class="menu__item">
            <a href="#About">About us</a>
          </li>
          <li class="menu__item">
            <a href="#About">How it's made?</a>
          </li>
          <li class="menu__item">
            <a href="#Products">Our products</a>
          </li>
          <li class="menu__item">
            <a href="#Contacts">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="menu__box">
        <button class="menu__mobile js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
          <svg class="menu__icon" height="20" width="20">
            <use href="./images/svg/symbol-defs.svg#icon-menu-mobile"></use>
          </svg>
        </button>
        <button class="menu__button button" type="button" data-modal-open>
          Buy now
          <svg class="menu__arrow" width="8" height="6">
            <use href="./images/svg/symbol-defs.svg#icon-buttonVector"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="circle"></div>
    <div class="block">
      <h1 class="block__header">
        <span class="block__header-lower">ICE CREAM</span>
        <span class="block__header-lower"> MADE WITH</span>
        <span class="block__header-higher"> PASSION</span>
      </h1>
      <div class="block__box">
        <button class="block__button-first button">
          <a href="#Products">Products</a>
        </button>
        <button class="block__button-second button">
          <a href="#About">How it's made?</a>
        </button>
      </div>
    </div>
    <div class="box">
      <p class="box__amount">
        <svg class="box__icon">
          <use href="./images/svg/symbol-defs.svg#icon-review-circle"></use>
        </svg>
        16
      </p>
      <p class="box__description">cafes</p>
      <p class="box__amount">
        <svg class="box__icon">
          <use href="./images/svg/symbol-defs.svg#icon-review-circle"></use>
        </svg>
        23
      </p>
      <p class="box__description">food trucks</p>
    </div>
    <div class="header__container">
      <p class="header__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
    </div>
    <img class="header__icon" src="./images/arrow-right.png" alt="Right red arrow" />
    <img
      class="header__primary--image"
      src="./images/ice-cream.png"
      alt="Ice cream"
      srcset="./images/ice-cream@2x.png 2x"
    />
    <img
      class="header__secondary--image"
      src="./images/milk.png"
      alt="Milk"
      srcset="./images/milk@2x.png 2x"
    />
    <img
      class="header__tertiary--image"
      src="./images/lady.png"
      alt="Lady with ice cream"
      srcset="./images/lady@2x.png 2x"
    />
  </div>
</header>
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__button button" data-modal-close>Close</button>
    <form action="javascript:void(0);">
      <div class="modal__container">
        <h2 class="modal__header">Zostaw swoje dane w formularzu poniżej</h2>
        <label class="modal__label" for="full-name"
          >Imię
          <input id="full-name" class="modal__input" type="text" name="name" />
        </label>
        <label class="modal__label" for="telephone"
          >Telefon
          <input id="telephone" class="modal__input" type="tel" name="tel" />
        </label>
        <label class="modal__label" for="email-address"
          >Email
          <input id="email-address" class="modal__input" type="email" name="email" />
        </label>
        <label class="modal__label"
          >Komentarz
          <textarea
            class="modal__textarea"
            name="commentary"
            rows="6"
            placeholder="Wprowadź tekst"
          ></textarea>
        </label>
        <div class="modal__acceptance-container">
          <label class="modal__acceptance-label">
            <input class="modal__acceptance-input" type="checkbox" name="checkbox" />Oświadczam iż
            akceptuję <a class="modal__link" href="#">Regulamin</a> i
            <a class="modal__link" href="#">Politykę Prywatności</a></label
          >
          <button class="modal__submit button" type="submit">Wyślij</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="mobile-icon" height="14" width="14">
      <use href="./images/svg/symbol-defs.svg#icon-close-mobile"></use>
    </svg>
  </button>
  <div class="mobile">
    <button class="button mobile__button">
      Buy now
      <svg class="mobile__arrow" width="8" height="6">
        <use href="./images/svg/symbol-defs.svg#icon-buttonVector"></use>
      </svg>
    </button>
    <div class="mobile__menu">
      <ul class="mobile__list">
        <li class="mobile__item">
          <a href="#Home">Home</a>
        </li>
        <li class="mobile__item">
          <a href="#About">About us</a>
        </li>
        <li class="mobile__item">
          <a href="#About">How it's made?</a>
        </li>
        <li class="mobile__item">
          <a href="#Products">Our products</a>
        </li>
        <li class="mobile__item">
          <a href="#Contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
