.button {
  border-radius: 22px;
  width: 176px;
  height: 44px;
  cursor: pointer;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: $font-size-main;
  line-height: 0.78;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  &--bright {
    background: $color-primary;
    color: $font-header-before;
    fill: $font-header-before;
    &:hover,
    &:target {
      background: $background-color-button-hover;
    }
  }
  &--color {
    background: $background-color-button;
    color: $color-primary;
  }
  &__contacts {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .button__contacts {
    font-size: 16px;
  }
}
