.review {
  display: block;
  margin: 0 20px;

  &__image {
    margin: 0 auto;
    display: block;
    margin-top: 80px;
    width: 85px;
    height: 85px;
  }
  // &__box {
  //   position: absolute;
  // }
  &__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    &::before {
      content: '';
      background-image: url('../images/icon-svg.svg');
      width: 54px;
      height: 40px;
      position: absolute;
      z-index: 2;
    }
    &::after {
      content: '';
      background-image: repeating-linear-gradient(to bottom, #fafafa 99%, blue 1%);
      width: 100%;
      position: absolute;
      z-index: 2;
    }
  }
  &__background {
    background-color: #fafafa;
    margin-top: 29px;
    margin-bottom: 29px;
    position: absolute;
    z-index: 1;
  }
  &__dots {
    display: flex;
    justify-content: center;
    max-height: 30px;
  }
  &__data {
    @include review-data;
    margin-bottom: 30px;
  }
  &__home {
    display: flex;
    justify-content: center;
    margin-bottom: 86px;
  }
  &__svg {
    max-width: 18px;
  }
}

@media screen and (min-width: 768px) {
  .review {
    &__text {
      font-size: 14px;
    }
    &__data {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .review {
    &__text {
      font-size: 16px;
    }
    &__data {
      font-size: 16px;
    }
    &__background {
      width: 926px;
      height: 138px;
      padding: 47px 89px 39px 87px;
    }
  }
}
