footer{
    background-color:$background-color-how;
    width: 100%;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  &__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
 &__tittle{
    font-family: Titan One;
    font-size: 30px;
    font-weight:400;
    line-height: 1.133;
    letter-spacing: 0.04em;
    text-align: left;
    color:$font-footer-tittle;
 }
 &__text{
    font-family: Titan One;
font-size: 58px;
font-weight: 400;
line-height: 1.137;
letter-spacing: 0.06em;
text-align: left;
color:$font-header-before;
 }}