.footer {
  background: #fff5f6;
  &__header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &__secondary {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      margin-bottom: 17px;
      width: 232px;
      color: #ffa5ba;
    }
    &__primary {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 39px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      width: 200px;
      color: #d41443;
    }
  }
  &__icon {
    background-color: $font-header;
    fill: $color-primary;
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
  &__list {
    display: flex;
    margin-top: 43px;
    justify-content: flex-end;
    gap: 29px;
    margin-bottom: 46px;
  }

  &__contact {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 43px;
    &__text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 186%;
      color: black;
    }
    &__tel {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 186%;
      color: #d41443;
    }
  }
  &__copyright {
    border-top: 1px solid #e1e1e1;
    padding-top: 22px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  &__copytext {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: #907e82;
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__header {
      width: 380px;
      &__secondary {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
      }
      &__primary {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
    }
    &__container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 91px;
    }
    &__tablet {
      display: flex;
      flex-direction: column;
    }
    &__list {
      margin-top: 0;
    }
    &__copytext {
      width: 100%;
    }
    &__contact__text {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__header {
      width: 500px;
      &__primary {
        width: 100%;
      }
    }
    &__copytext {
      width: 100%;
    }
    &__contact__text {
      font-size: 16px;
    }
  }
}
// .footer__line {
//   border: $footer-line solid 1px;
// }
// @media (min-width: 305px) {
//   footer {
//     background-color: $background-color-how;
//     width: 100%;
//   }
//   .footer {
//     display: flex;
//     flex-direction: column;
//     gap: 43px;
//     &__container {
//       flex-direction: column;
//       justify-content: center;
//     }
//     &__tittle {
//       text-align: start;
//       display: inline-block;
//       font-family: Titan One;
//       font-size: 18px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.04em;
//       color: $font-header;
//       text-transform: uppercase;
//       padding: 0 66px 17px 22px;
//     }
//     &__text {
//       justify-content: flex-start;
//       font-family: Titan One;
//       font-size: 34px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.06em;
//       color: $font-header-before;
//       text-transform: uppercase;
//       padding: 0 100px 0 20px;
//       text-align: left;
//       margin: 0;
//     }
//     &__icons {
//       display: flex;
//       justify-content: flex-end;
//       padding: 0 20px 46px 0;
//       gap: 28px;
//     }
//     &__icon {
//       text-decoration: none;
//       width: 34px;
//       height: 34px;
//       background-color: $font-header;
//       border-radius: 50%;
//       fill: $color-primary;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__icon:hover,
//     &__icon:focus {
//       background-color: $font-header-before;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__contact {
//       font-family: DM Sans;
//       font-size: 12px;
//       font-weight: 700;
//       line-height: 30px;
//       letter-spacing: 0.02em;
//       color: $color-secondary;
//       text-align: right;
//       justify-content: flex-end;
//       margin: 0 20px 0 0;
//       &--color {
//         color: $font-header-before;
//         font-family: DM Sans;
//         font-size: 12px;
//         font-weight: 500;
//         line-height: 30px;
//         letter-spacing: 0.02em;
//       }
//     }
//     &__ending {
//       flex-wrap: wrap;
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 1.85;
//       letter-spacing: 0.02em;
//       text-align: center;
//       color: $font-color-subtitle;
//       margin: 22px 91px 25px 79px;
//     }
//   }
// }
// @media (min-width: 768px) {
//   footer {
//     background-color: $background-color-how;
//     width: 100%;
//   }
//   .footer {
//     display: flex;
//     flex-direction: column;
//     gap: 92px;
//     &__container {
//       flex-direction: column;
//       justify-content: center;
//     }
//     &__tittle {
//       max-width: 400px;
//       text-align: left;
//       display: inline-block;
//       font-family: Titan One;
//       font-size: 26px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.04em;
//       color: $font-header;
//       text-transform: uppercase;
//       padding: 0 0 16px 36px;
//     }
//     &__text {
//       max-width: 400px;
//       justify-content: flex-start;
//       font-family: Titan One;
//       font-size: 48px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.06em;
//       color: $font-header-before;
//       text-transform: uppercase;
//       padding: 0 0 91px 36px;
//       text-align: left;
//       margin: 0;
//     }
//     &__icons {
//       display: flex;
//       padding: 0 36px 46px 0;
//       gap: 30px;
//     }
//     &__icon {
//       text-decoration: none;
//       width: 34px;
//       height: 34px;
//       background-color: $font-header;
//       border-radius: 50%;
//       fill: $color-primary;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__icon:hover,
//     &__icon:focus {
//       background-color: $font-header-before;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__contact {
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 30px;
//       letter-spacing: 0.02em;
//       color: $color-secondary;
//       text-align: right;
//       justify-content: flex-end;
//       margin: 0 36px 0 0;
//       &--color {
//         color: $font-header-before;
//         font-family: DM Sans;
//         font-size: 14px;
//         font-weight: 500;
//         line-height: 30px;
//         letter-spacing: 0.02em;
//       }
//     }
//     &__ending {
//       flex-wrap: wrap;
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 1.85;
//       letter-spacing: 0.02em;
//       text-align: center;
//       color: $font-color-subtitle;
//       margin: 22px 91px 25px 79px;
//     }
//     &__iconss {
//       display: flex;
//       position: absolute;
//       margin-top: 0;
//       margin-left: 468px;
//       width: 320px;
//     }
//   }
// }

// .footer__line {
//   border: $footer-line solid 1px;
// }
// @media (min-width: 305px) {
//   footer {
//     background-color: $background-color-how;
//     width: 100%;
//   }
//   .footer {
//     display: flex;
//     flex-direction: column;
//     gap: 43px;
//     &__container {
//       flex-direction: column;
//       justify-content: center;
//     }
//     &__tittle {
//       text-align: start;
//       display: inline-block;
//       font-family: Titan One;
//       font-size: 18px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.04em;
//       color: $font-header;
//       text-transform: uppercase;
//       padding: 0 66px 17px 22px;
//     }
//     &__text {
//       justify-content: flex-start;
//       font-family: Titan One;
//       font-size: 34px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.06em;
//       color: $font-header-before;
//       text-transform: uppercase;
//       padding: 0 100px 0 20px;
//       text-align: left;
//       margin: 0;
//     }
//     &__icons {
//       display: flex;
//       justify-content: flex-end;
//       padding: 0 20px 46px 0;
//       gap: 28px;
//     }
//     &__icon {
//       text-decoration: none;
//       width: 34px;
//       height: 34px;
//       background-color: $font-header;
//       border-radius: 50%;
//       fill: $color-primary;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__icon:hover,
//     &__icon:focus {
//       background-color: $font-header-before;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__contact {
//       font-family: DM Sans;
//       font-size: 12px;
//       font-weight: 700;
//       line-height: 30px;
//       letter-spacing: 0.02em;
//       color: $color-secondary;
//       text-align: right;
//       justify-content: flex-end;
//       margin: 0 20px 0 0;
//       &--color {
//         color: $font-header-before;
//         font-family: DM Sans;
//         font-size: 12px;
//         font-weight: 500;
//         line-height: 30px;
//         letter-spacing: 0.02em;
//       }
//     }
//     &__ending {
//       flex-wrap: wrap;
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 1.85;
//       letter-spacing: 0.02em;
//       text-align: center;
//       color: $font-color-subtitle;
//       margin: 22px 91px 25px 79px;
//     }
//   }
// }
// @media (min-width: 768px) {
//   footer {
//     background-color: $background-color-how;
//     width: 100%;
//   }
//   .footer {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     gap: 92px;
//     &__container {
//       flex-direction: column;
//       justify-content: center;
//     }
//     &__tittle {
//       max-width: 400px;
//       text-align: left;
//       display: inline-block;
//       font-family: Titan One;
//       font-size: 26px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.04em;
//       color: $font-header;
//       text-transform: uppercase;
//       padding: 0 0 16px 36px;
//     }
//     &__text {
//       max-width: 400px;
//       justify-content: flex-start;
//       font-family: Titan One;
//       font-size: 48px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.06em;
//       color: $font-header-before;
//       text-transform: uppercase;
//       padding: 0 0 91px 36px;
//       text-align: left;
//       margin: 0;
//     }
//     &__icons {
//       display: flex;
//       padding: 0 36px 46px 0;
//       gap: 30px;
//     }
//     &__icon {
//       text-decoration: none;
//       width: 34px;
//       height: 34px;
//       background-color: $font-header;
//       border-radius: 50%;
//       fill: $color-primary;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__icon:hover,
//     &__icon:focus {
//       background-color: $font-header-before;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__contact {
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 30px;
//       letter-spacing: 0.02em;
//       color: $color-secondary;
//       text-align: right;
//       justify-content: flex-end;
//       margin: 0 36px 0 0;
//       &--color {
//         color: $font-header-before;
//         font-family: DM Sans;
//         font-size: 14px;
//         font-weight: 500;
//         line-height: 30px;
//         letter-spacing: 0.02em;
//       }
//     }
//     &__ending {
//       flex-wrap: wrap;
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 1.85;
//       letter-spacing: 0.02em;
//       text-align: center;
//       color: $font-color-subtitle;
//       margin: 22px 91px 25px 79px;
//     }
//     &__iconss {
//       display: flex;
//       position: absolute;
//       margin-top: 0;
//       margin-left: 468px;
//       width: 320px;
//     }
//   }
// }

// @media (min-width: 1200px) {
//   footer {
//     background-color: $background-color-how;
//     width: 100%;
//   }
//   .footer {
//     display: inline-block;
//     justify-content: center;
//     justify-content: space-around;
//     flex-wrap: wrap;
//     max-height: 247px;
//     gap: 258px;
//     position: relative;

//     &__container {
//       flex-direction: column;

//     }
//     &__tittle {
//       min-width: 700px;
//       text-align: left;
//       display: inline-block;
//       font-family: Titan One;
//       font-size: 30px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.04em;
//       color: $font-header;
//       text-transform: uppercase;
//       margin: 0 0 0 115px;
//       padding-bottom:15px;
//     }
//     &__text {
//       min-width: 700px;
//       justify-content: flex-start;
//       font-family: Titan One;
//       font-size: 58px;
//       font-weight: 400;
//       line-height: 1.145;
//       letter-spacing: 0.06em;
//       color: $font-header-before;
//       text-transform: uppercase;
//       margin: 0 0 0 115px;
//       text-align: left;
//       padding-bottom: 97px;

//     }
//     &__icons {
//       justify-content: flex-end;
//       display: flex;
//       gap: 24px;
//     }
//     &__icon {
//       text-decoration: none;
//       width: 34px;
//       height: 34px;
//       background-color: $font-header;
//       border-radius: 50%;
//       fill: $color-primary;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__icon:hover,
//     &__icon:focus {
//       background-color: $font-header-before;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__contact {
//       min-width: 502px;
//       font-family: DM Sans;
//       font-size: 16px;
//       font-weight: 700;
//       line-height: 30px;
//       letter-spacing: 0.02em;
//       color: $color-secondary;
//       text-align:left;
//       margin: 0 36px 0 0;
//       &--color {
//         min-width: 502px;
//         color: $font-header-before;
//         font-family: DM Sans;
//         font-size: 16px;
//         font-weight: 500;
//         line-height: 30px;
//         letter-spacing: 0.02em;
//       }
//     }
//     &__ending {
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 1.85;
//       letter-spacing: 0.02em;
//       text-align: center;
//       color: $font-color-subtitle;
//       margin: 9px 0 10px 0;
//     }
//     &__iconss {
//       display: flex;
//       position: absolute;
//       right:115px;
//       top:0;
//     }
// }}
