.header {
  background-color: $background-color-header;
  padding: 6px 20px 0 20px;
  height: 502px;
  overflow: hidden;
  min-width: 320px;
  &__wrap {
    position: relative;
    margin: 0 auto;
    min-width: 280px;
    max-width: 280px;
  }
  &__icon {
    display: none;
  }
  &__container {
    display: none;
  }
  &__primary--image {
    position: absolute;
    z-index: 2;
    top: 86px;
    left: 111px;
    height: 410px;
    width: 171px;
  }
  &__secondary--image {
    display: none;
  }
  &__tertiary--image {
    display: none;
  }
}
.box {
  display: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  &__logo {
    width: 199px;
    height: 50px;
  }
  &__list {
    display: none;
  }
  &__button {
    display: none;
  }
  &__button:hover {
    background-color: #ecebeb;
    cursor: pointer;
  }
  &__box {
    height: 44px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  &__icon {
    position: relative;
    z-index: 3;
    stroke: #d41443;
    fill: none;
  }
  &__mobile {
    background-color: transparent;
    border-color: transparent;
  }
  &__mobile:hover {
    cursor: pointer;
  }
}
.block {
  display: flex;
  flex-direction: column;
  margin: 137px 0 141px 0;
  max-width: 218px;
  gap: 19px;
  line-height: 35px;
  &__header {
    margin: 0;
    z-index: 3;
    top: 0;
    line-height: 1;
  }
  &__header-lower {
    @include mainHeading;
    font-size: 30px;
    color: $color-primary;
  }
  &__header-higher {
    @include mainHeading;
    font-size: 48px;
  }
  &__box {
    display: flex;
    gap: 8px;
    z-index: 3;
  }
  &__button-first,
  &__button-second {
    height: 24px;
    font-family: 'DM Sans';
    font-size: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
  }
  &__button-first {
    background-color: $font-header-before;
    color: $color-primary;
    width: 62px;
  }
  &__button-first:hover {
    background-color: $dot;
    cursor: pointer;
  }
  &__button-second {
    background-color: $color-primary;
    color: $font-header-before;
    width: 86px;
  }
  &__button-second:hover {
    background-color: #ecebeb;
    cursor: pointer;
  }
}
.circle {
  width: 345px;
  height: 345px;
  background-color: $font-header;
  position: absolute;
  border-radius: 50%;
  top: 77px;
  left: 16px;
}
.icon--circle {
  display: none;
}
.icon--arrow {
  display: none;
}
.backdrop {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  transition: ease-in-out 500ms;
  z-index: 6;
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: $background-color-header;
  margin: auto;
  padding: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
  }
  &__button {
    display: block;
    width: 160px;
    height: 44px;
    background-color: $color-primary;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $font-header-before;
    position: relative;
    top: 10px;
    right: -360px;
  }
  &__button:hover {
    cursor: pointer;
    background-color: #ecebeb;
  }
  &__header {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 22px;
    color: $color-primary;
    line-height: 1.3;
  }
  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 13px;
    color: $color-primary;
    line-height: 1.3;
  }
  &__input {
    width: 320px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 13px;
    color: $font-header-before;
    line-height: 1.3;
  }
  &__textarea {
    width: 320px;
    height: 150px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 13px;
    color: $font-header-before;
    line-height: 1.3;
  }
  &__acceptance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
  }
  &__acceptance-label {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 13px;
    color: $color-primary;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
  &__acceptance-input {
    margin-right: 5px;
  }
  &__link {
    color: $font-header-before;
  }
  &__submit {
    width: 160px;
    height: 44px;
    background-color: #d41443;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $color-primary;
  }
  &__submit:hover {
    cursor: pointer;
    background-color: $color-primary;
    color: $font-header-before;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 23px;
  right: 28px;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-icon {
  stroke: $color-primary;
  fill: none;
}
.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  &__button {
    margin-top: 60px;
    display: flex;
    gap: 16px;
    width: 209px;
    height: 44px;
    background-color: $color-primary;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $font-header-before;
  }
  &__button:hover {
    background-color: #ecebeb;
    cursor: pointer;
  }
  &__arrow {
    stroke: #d41443;
    fill: none;
    position: relative;
    top: 2px;
  }
  &__menu {
    width: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  &__item {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: $color-primary;
    border: solid 1px #e18298;
    padding: 13px 0 11px 21px;
    height: 42px;
  }
  &__item:first-child {
    color: #d41443;
  }
  &__item:hover{
    cursor: pointer;
    color: #d41443;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    align-items: flex-start;
    &__button {
      display: flex;
      justify-content: space-between;
      padding: 0 37px 0 37px;
      width: 160px;
      height: 44px;
      background-color: $color-primary;
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: $font-header-before;
    }
    &__arrow {
      position: relative;
      top: 2px;
      fill: $font-header-before;
    }
  }
  .block {
    margin: 15px 0 46px 0;
    max-width: 162px;
    &__header-lower {
      font-size: 22px;
      line-height: 1.14;
    }
    &__header-higher {
      font-size: 34px;
      line-height: 1.14;
    }
  }
  .circle {
    width: 323px;
    height: 323px;
    top: -6px;
    left: 273px;
  }
  .header {
    height: 399px;
    padding: 37px 34px 0 34px;
    &__wrap {
      position: relative;
      margin: 0 auto;
      min-width: 700px;
      max-width: 700px;
    }
    &__primary--image {
      top: 26px;
      left: 344px;
      height: 336px;
      width: 143px;
    }
    &__secondary--image {
      display: block;
      width: 124px;
      height: 126px;
      position: absolute;
      top: 208px;
      left: 0;
    }
    &__tertiary--image {
      display: block;
      width: 168px;
      height: 133px;
      position: absolute;
      top: 229px;
      left: 532px;
      z-index: 4;
    }
    &__container {
      display: block;
      max-width: 114px;
      max-height: 48px;
      margin-left: 120px;
    }
    &__paragraph {
      font-style: 'DM Sans';
      font-weight: 400;
      font-size: 8px;
      line-height: 1.5;
      color: $color-primary;
      letter-spacing: 0.06em;
      text-align: left;
    }
    &__icon {
      display: block;
      height: 18px;
      width: 18px;
      position: absolute;
      left: 120px;
      top: 310px;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 44px;
    left: 657px;
    text-align: right;
    &__amount {
      font-family: 'Titan One';
      font-weight: 400;
      font-size: 28px;
      line-height: 1;
      color: $font-header-before;
      z-index: 4;
    }
    &__description {
      font-family: 'DM Sans';
      font-weight: 400;
      font-size: 8px;
      line-height: 1;
      color: $color-primary;
    }
    &__icon {
      height: 16px;
      width: 16px;
      display: block;
      position: relative;
      fill: $color-primary;
      top: 10px;
      left: 30px;
      z-index: -1;
    }
  }
  .icon--circle {
    display: block;
    fill: $color-primary;
    margin-left: 120px;
    margin-top: 7px;
    height: 18px;
    width: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 665px;
    min-width: 1280px;
    &__wrap {
      position: relative;
      padding-right: 115px;
      padding-left: 46px;
      height: 502px;
      min-width: 1280px;
      max-width: 1280px;
    }
    &__primary--image {
      top: 71px;
      left: 594px;
      height: 557px;
      width: 236px;
    }
    &__secondary--image {
      width: 188px;
      height: 191px;
      top: 392px;
      left: 77px;
    }
    &__tertiary--image {
      width: 293px;
      height: 232px;
      top: 396px;
      left: 878px;
    }
    &__container {
      max-width: 200px;
      max-height: 78px;
      margin-left: 249px;
    }
    &__paragraph {
      font-size: 14px;
      line-height: 1.4;
    }
    &__icon {
      height: 26px;
      width: 26px;
      top: 546px;
      left: 295px;
    }
  }
  .menu {
    align-items: center;
    &__mobile {
      display: none;
    }
    &__navigation {
      display: flex;
      align-items: center;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 35px;
      z-index: 2;
    }
    &__item {
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 16px;
      color: $color-primary;
      line-height: 1.3;
    }
    &__item:first-child {
      color: $font-header-before;
    }
    &__item:hover {
      cursor: pointer;
      color: $font-header-before;
    }
  }
  .circle {
    width: 538px;
    height: 538px;
    top: 15px;
    left: 475px;
  }
  .box {
    top: 93px;
    left: 1111px;
    &__amount {
      font-size: 46px;
      line-height: 1.1;
    }
    &__description {
      font-size: 14px;
      line-height: 1.1;
    }
    &__icon {
      height: 30px;
      width: 30px;
      top: 24px;
      left: 55px;
    }
  }
  .block {
    margin: 84px 0 100px 69px;
    max-width: 277px;
    gap: 25px;
    &__box {
      gap: 15px;
    }
    &__header-lower {
      font-size: 38px;
    }
    &__header-higher {
      font-size: 58px;
    }
    &__button-first,
    &__button-second {
      height: 40px;
      font-size: 14px;
    }
    &__button-first {
      width: 104px;
    }
    &__button-second {
      width: 138px;
    }
  }
  .icon--circle {
    margin-left: 249px;
    width: 26px;
    height: 26px;
  }
}
